@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root{
    --bg1:#fefae0;
    --bg2:#f0e6ef;
    --bg3:#e5e5e5;
    --color-1:#9c89b8;
    --color-2:#f0a6ca;
    --color-3:#efc3e6;
    --color-4:#f0e6ef;
    --color-5:#b8bedd;
    --black:#5e6472;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body * {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

body {
    color: black;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

p{
    text-align: justify;
}

.heading {
    display: block;
}

hr {
    margin: 0 0 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}



.btn-grad {background-image: linear-gradient(to right, #F72585 0%, #B5179E  51%, #7209B7  100%, #560BAD  100%, #480CA8  100%, #3A0CA3  100%, #3F37C9  100%, #4361EE  100%, #4895EF  100%, #6DAAF2  100%)}
.btn-grad {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;   
         
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



.btn{
    border: 1px solid black;
    cursor: pointer;
    text-shadow:  1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.btn a{
    text-decoration: none;
}